*{
padding: 0;
margin:0;
box-sizing: border-box;
}

/* FONT: WORK SANS*/
/* FONT: ANONYMOUS PRO BOLD*/
/* FONT: INTER REGULAR*/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter&family=Work+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400600&display=swap');


body{
background-color: rgb(0, 0, 0);
}

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------HEADER----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 1.875rem;
}

header div img{
width: 10.3125rem;
}

.navbar{
display:flex;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
gap: 1.25rem;
font-family: 'Work Sans', sans-serif;
font-weight: 600;
justify-content: space-around;
gap: 13.75rem;
}

.navbar li a{
text-decoration: none;
font-size: 1rem;
color: rgb(255, 255, 255);
}
/* FINAL HEADER*/

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------INDEX----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.index-body-background{
background-color: rgb(0, 0, 0);
background-image: url(../assets/img/main.png);
width:100%;
height: 100vh;
background-repeat: no-repeat;
}

.first-class{
display: flex;
flex-direction: column;
justify-content:left;
gap: 6.875rem;
align-items: end;
margin-right: 3.125rem;
margin-top: 7.5rem;
}

.welcome {
width: 21.875rem;
font-family: 'Anonymous Pro', monospace;
color:white; 
font-size: 1.5rem;
text-align: end;
display:flex; 
justify-content: flex-end;
}

.section-landing{
display: flex;
flex-direction: row-reverse;
gap: 1.875rem;
}

.section-landing div{
width:12.5rem;
font-family: 'Anonymous Pro', monospace;
color:white; 
display: flex;
flex-direction: column;
align-items: flex-end;
text-align: end;
}
.section-landing img{
height: 20.625rem;
width: auto;
}



    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------INDEX: GALERIA DE TRES FOTOS--------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.section-gallery{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 40.625rem;
margin-bottom: 12.5rem;
gap: 4.375rem;
}

.gallery-images1{
display: flex;
flex-direction: column;
gap: 4.375rem;
}
/*  FINAL SEGUNDA PAGINA DEL FIGMA */

/*  INICIO TERCER PAGINA DEL FIGMA */
.tecer-pagina-figma{
background-color: white;
display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.tecer-pagina-figma section{
display:flex;
flex-direction: row;
height: 100vh;
align-items: center;
gap: 2.5rem;
}
.div-jordan{
height: 36.25rem;
width: 28.75rem;
background-image: url(https://images.unsplash.com/photo-1520930528075-4ea5ead759f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
background-position:center;
background-size: cover;
background-repeat: no-repeat;
}

.div-tercer-pag{
display: flex;
flex-direction: column;
width: 22.5rem;
height: 34.375rem;
font-family: 'Work Sans', sans-serif;
}

.div-tercer-pag h3{
margin-top:15px;
font-size: .8125rem;
}

.div-tercer-pag h2{
font-size: 1.9375rem;
}

.div-tercer-pag p{
font-size: .875rem;
text-align: justify;
margin-top: 3.125rem;
}

.images-column{
list-style: none;
}

.images-column li img{
height: 7.5rem;
width: 10.625rem;
border: .0625rem solid rgba(0, 0, 0, 0.432)
}

/*  FINAL TERCER PAGINA DEL FIGMA */

/*  INICIO CUARTA PAGINA DEL FIGMA */
.about-collection{
height: 27.5rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
color:white;
font-family: 'Work Sans', sans-serif;
}

.about-collection p{
font-size: .8125rem;
width: 70%;
}

.about-collection h2{
margin-bottom: 3.75rem;
}

footer{
background-color: rgb(255, 255, 255);
height:34.375rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 12.5rem;
}

.primer-footer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding-top: 4.375rem;
}

.newsletter{
width: 28.125rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: 'Work Sans', sans-serif;
}

.newsletter p{
font-family: 'Inter', sans-serif;
font-size: .75rem;
}

.social-media{
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 3.125rem;
}

.info-final{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.info-final div{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 1.25rem;
margin-bottom: 3.75rem ;
}


/* FINAL LANDING PAGE*/



    /*-------------------------*/
    /*-------PAGES: CATALOGUE-------*/
    /*-------------------------*/

    .header-gradient-catalogue{
        background: linear-gradient(180deg, rgba(112,17,14,1) 0%, rgba(55,9,7,1) 46%, rgba(0,0,0,1) 100%);
        margin-top: 0;
        padding-top: 1.875rem ;
    }
    
    /* INICIO MAIN DEL CATALOGUE*/
    .main-catalogue{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(1,100vh);
        grid-template-areas:
        "item1 item2 item3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    }
            
    item1{
        grid-area: item1;
    }
    item2{
        grid-area: item2;
    }
    item3{
        grid-area: item3;
    }
    
    .cards-catalogue {
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 43.75rem;
            width: 20.625rem;
            color: white;
            font-family: 'Work Sans', sans-serif;
            text-align: center;
            gap: 1.875rem;
    }
    
    .portrait-image {
            height: 21.875rem;
            width: 21.875rem;
            background-image: url(https://images.unsplash.com/photo-1564109799258-6b7c25cd1c92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80);
            background-size: cover;
            background-position: center;
    }
            
    .texture-image {
            height: 21.875rem;
            width: 21.875rem;
            background-image: url(https://images.unsplash.com/photo-1583407723467-9b2d22504831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
            background-size: cover;
            background-position: center;
    }
    
    .nature-image {
            height: 21.875rem;
            width: 21.875rem;
            background-image: url(https://images.unsplash.com/photo-1606573324666-b74801da38b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
            background-size: cover;
            background-position: center;
    }
    
    .footer-catalogue{
    background-color: white;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    }
        /*-------------------------*/
        /*-------BUTTONS FOOTER: subscribe-------*/
        /*-------------------------*/
    .button-4 {
        appearance: none;
        background-color: #FAFBFC;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        color: #24292E;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 16px;
        position: relative;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: break-word;
    }
    
    .button-4:hover {
        background-color: #cfdfff;
        text-decoration: none;
        transition-duration: 0.1s;
    }
    
    .button-4:active {
        background-color: #EDEFF2;
        box-shadow: rgba(8, 8, 8, 0.2) 0 1px 0 inset;
        transition: none 0s;
    }
    
    .button-4:focus {
        outline: 1px transparent;
    }
    
        /*-------------------------*/
        /*-------BUTTONS: FIND OUT-------*/
        /*-------------------------*/
    .container1{
            height:15%;
            position: absolute;
            top: 77%;
            left: 17%;
            transform: translate(-50%, -50%);
    }
    
    .container2{
        height:15%;
        position: absolute;
        top: 77%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
    
    .container3{
        height:15%;
        position: absolute;
        top: 77%;
        left: 84%;
        transform: translate(-50%, -50%);
    }
    
    .btn {
        margin-top: calc(50% + 25px);
        position: relative;
        display: inline-block;
        width: 277px;
        height: 50px;
        font-size: 1em;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer;
        text-decoration:none;
        font-family: 'Roboto', sans-serif;
        font-weight:900;
        font-size:17px;
        letter-spacing: 0.045em;
    }
    
    .btn svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .btn svg rect {
        stroke: #ffffff;
        stroke-width: 4;
        stroke-dasharray: 353, 0;
        stroke-dashoffset: 0;
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
    }
    
    .btn span{
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(left,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
        background: -webkit-linear-gradient(left,  rgb(255, 255, 255) 0%,rgb(255, 255, 255) 100%);
        background: linear-gradient(to right,  rgb(255, 254, 254) 0%,rgb(255, 255, 255) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .btn:hover svg rect {
        stroke-width: 4;
        stroke-dasharray: 196, 543;
        stroke-dashoffset: 437;
    }
/* FINAL MAIN DEL CATALOGUE*/



    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CONTACT----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header-gradient-contact{
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8421743697478992) 53%, rgba(0,0,0,0) 100%);
margin-top: 0;
padding-top: 1.875rem ;
}

.contact-body-background{
background-color: rgb(0, 0, 0);
background-image: url(../assets/img/contact_background.jpg);
width:100%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.config-main-contact{
height: 100vh;
width: 100%;
}

.config-section-contact{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 34.375rem;
width: 31.25rem;
background: linear-gradient(180deg, rgba(0,0,0,0.7693452380952381) 9%, rgba(0,0,0,0.16430322128851538) 74%, rgba(0,0,0,0.027048319327731107) 100%);
font-family:'Work Sans', sans-serif;
font-size: 1.25rem;
color: white;
text-align: left;
margin-left: 20.625rem;
margin-top: 2.1875rem;
padding-left: 2.1875rem;
padding-top: 1.25rem;
gap: 1.25rem;
border-radius: 1.25rem;
}

.config-section-contact h2 {
font-weight: 400;
}

.config-main-contact h1{
font-family: 'Work Sans', sans-serif;
font-weight:normal;
display: flex;
justify-content: center;
color: white;
font-size: 3.75rem;
margin-top: 2.5rem;
}

.next-button{
position:absolute;
left:1700px;
bottom: 70px;
}

.write-here-contact{
height: 16.25rem;
width:23.75rem;
border: .0625rem solid white;
border-radius: 1.25rem;
background-color: rgba(0, 0, 0, 0.39);
color:grey;
font-family: 'Work Sans', sans-serif;
font-size: 1.25rem;
}

.write-here-contact p{
margin-left: 1.25rem;
margin-top: .875rem;
}
/* FIN MAIN DE CONTACT*/


    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header-gradient-aboutme{ 
background: linear-gradient(180deg, rgba(112,17,14,1) 0%, rgba(55,9,7,1) 46%, rgba(0,0,0,1) 100%);
margin-top: 0;
padding-top: 1.875rem ;
}

.titular-aboutme{
display: flex;
flex-wrap: wrap;
flex-direction:row;
justify-content: center;
gap: 350px;
padding-top: 9.375rem;
padding-bottom:9.375rem ;
}

.titular-aboutme div h1{
font-family: 'Work Sans', sans-serif;
font-size: 3.125rem;
font-weight: 600;
text-align: center;
color:white;
}

.titular-aboutme img{
width: auto; 
border-radius: 1.875rem;
height: 18.75rem;
}
.custom-button {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Cambio de estilo al pasar el mouse */
.custom-button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.cards-aboutme{
height: 15.625rem;
background-color: white;
border-radius: 1.25rem;
font-family: 'Work Sans', sans-serif;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: .625rem;
width:10rem;
}

.cards-aboutme img{
height: 1.875rem;
width: auto;
}

.cards-aboutme h2{
font-size: 1.25rem;
}

.cards-aboutme p{
font-size: .875rem;
}

.container-cards{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 18.75rem;
margin-bottom: 3.125rem;
}   

.titular-enorme-aboutme{
height: 100vh;
background-color: white;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items:center;
justify-content: center;
font-family: 'Work Sans', sans-serif ;
font-size: 10.625rem;
font-weight: 800;
}


/* INICIO infor personal*/
.info-text-aboutme{
background-color: white;
height: 50vh;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.info-text-aboutme div h2{
font-family: 'Work Sans' , sans-serif;
font-size: 2.5rem;
}

.item1{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
font-family: 'Work Sans' , sans-serif ;
}
.item1 h3{
font-size: 2.5rem;
}   

.personal-info {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 18.75rem;
padding-top: 3.75rem;
}
.pharagraph-aboutme{
height: 6.25rem;
width: 31.25rem;
}
.personal-info div h4{
font-family: 'Work Sans' , sans-serif;
font-weight: 400;
color: grey;
font-size: .8125rem;
}   
.personal-info div p{
font-family: 'Work Sans' , sans-serif;
font-weight: 500;
color: rgb(3, 0, 0);
font-size: .8125rem;
}   
.projects{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.proyect1-aboutme{
background-color: white;
height: 100vh;
width:100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap:3.125rem;
}   
.proyect1-aboutme div p{
width: 34.375rem;
font-family: 'Work Sans' , sans-serif;
font-size: .875rem;
font-weight: 500;
}

.proyect2-aboutme{
background-color: white;
height: 100vh;
width:100%;
display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
gap:3.125rem;
}   
.proyect2-aboutme div p{
width: 34.375rem;
font-family: 'Work Sans' , sans-serif;
font-size: .875rem;
font-weight: 500;
text-align: end;
}
.proyect1-aboutme img{
height: 28.125rem;
width: auto;
}

.proyect2-aboutme img{
height: 28.125rem;
width: auto;
}

.proyect2-aboutme div{
display: flex ;
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-start;
gap: 6.25rem;
}

.proyect1-aboutme div{
display: flex ;
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-end;
gap: 4.375rem;
}

.midway {
font-size: 3.4375rem;
}


    /*-------------------------*/
    /*-------PAGES: BOOKS-------*/
    /*-------------------------*/
.grid-container {
display: grid;
width: 100%;
grid-template-columns: repeat(4,25%);
grid-template-rows: repeat(4,75vh);
grid-template-areas:
"item1 item1 item1 item1"
"item2 item2 item2 item2"
"item3 item3 item3 item3"
"item4 item4 item4 item4"
;
}

.item1{
grid-area: item1;
}

.item2{
grid-area: item2;
}

.item3{
grid-area: item3;
}

.fonts-books{
font-family: 'Work Sans' , sans-serif ;
font-size: 5.625rem;
color: rgb(255, 255, 255);
}

.line{
width: 85.3127rem;
height: .1875rem;
background: #530d0a;
margin-bottom: 5.3125rem;
}

.line.bottom{
width: 85.3127rem;
height: .1875rem;
background: #530d0a;
margin-top: 5.3125rem;
}

.images-books{
border-radius: 1.25rem;
height: 11.875rem;
width: 9.375rem;
border: solid .0625rem rgba(255, 255, 255, 0.226);
}

.sections-books{
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content:center ;
align-items: center;
height: 75vh;
}

.display-images{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 3.125rem;
justify-content: center;
margin-top:2.1875rem;
}

.display-images-last{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 3.125rem;
justify-content: center;
margin-top:2.1875rem;
margin-bottom: 7.5rem;
}

.line-bottom{
width: 85.3127rem;
height: .1875rem;
background: #530d0a;
margin-top: 5.3125rem;
}
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------PAGES: BOOKS footer----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.grid-footer{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 140px;
grid-area: item4;
background-color: rgb(255, 255, 255);
justify-content: center;
}

.primer-footer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding-top: 4.375rem;
}

.newsletter{
width: 28.125rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: 'Work Sans', sans-serif;
}
.newsletter p{
font-family: 'Inter', sans-serif;
font-size: .75rem;
}

.social-media{
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 3.125rem;
}

.info-final{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.info-final div{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 1.25rem;
}







@media(max-width:768px){
    @media screen and (max-width: 768px) {
        header {
            flex-direction: column;
            align-items: center;
            gap:2rem;
            }
            .navbar {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            }
            }
            .header-gradient-aboutme nav{
                height: 200px;
                padding:0px;
                width: 100%;
            }
        .container-cards{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 9.375rem;
            margin-bottom: 3.125rem;
            }   
    .info-text-aboutme{
        height:90vh;
    }
    .titular-enorme-aboutme{
        font-size: 5.625rem;
        height:50vh;
        }
        .personal-info {
            gap: 3.75rem;
            }

            .proyect1-aboutme{
                gap:3.125rem;
                }   
                
                .proyect2-aboutme{
                height: 100vh;;
                display: flex;
                gap: 10px;
                padding-top:3.75rem;
                padding-bottom:3.75rem;
                }   
                .proyect2-aboutme div p{
                text-align: center;
                }
                .proyect1-aboutme img{
                height: 37.5rem;
                }
                .proyect2-aboutme img{
                height: 37.5rem;
                }
                
                .proyect2-aboutme div{
                text-align: center;
                justify-items: center;
                justify-content: center;
                gap: .75rem;
                }
                
                .proyect1-aboutme div{
                text-align: center;
                justify-items: center;
                justify-content: center;

                gap: .75rem;
                }

                .titular-aboutme{
                    gap:100px;
                }


footer{
background-color: rgb(214, 214, 214);
height:400px;
gap: 3.125rem ;
}

.newsletter{
width: 18.75rem;
gap:1.25rem;
}
.info-final div{
gap: 1.25rem;
margin-bottom: .625rem ;
}
}

@media screen and (max-width: 1024px) {
    header {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap:1.25rem;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
.titular-aboutme{
gap: 200px;
  }
  .container-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.375rem;
    margin-bottom: 3.125rem;
    }  
  .titular-enorme-aboutme{
    font-size: 4.625rem;
    height:60vh;
    }
  .personal-info {
    gap: 3.75rem;
    }

    @media screen and (max-width: 1239px){
        header {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap:1.25rem;
          }
        
        .navbar {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
          }
        }

        @media screen and (max-width: 425px) {
            header {
            flex-direction: column;
            align-items: center;
            }

            header div img {
            width: 8rem;
            }

            .navbar {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            }
            .titular-aboutme div h1{
                font-size: 2.125rem;;
            }
            .titular-enorme-aboutme{
                font-size: 2.625rem;
                height:60vh;
                }
            .personal-info {
                    gap: .75rem;
                    }
            .pharagraph-aboutme{
                        height: 6.25rem;
                        width: 350px;
                        text-align: center;
                        }
            .proyect1-aboutme div p{
                            width: 350px;
                            font-weight: 500;
                            }
            .proyect2-aboutme div p{
                            width: 350px;
                            text-align: center;
}
.titular-aboutme{
padding-top: 5.375rem;}
.proyect1-aboutme{
    gap:2.125rem;
    }   
.proyect2-aboutme{
        gap:2.125rem;
        } 
    .proyect1-aboutme img{
        height: 27.5rem;
        }
        .proyect2-aboutme img{
        height: 27.5rem;
        }
        }

        @media screen and (max-width: 320px){

            .titular-enorme-aboutme{
                font-size: 1.625rem;
                height:40vh;
                }
            .proyect1-aboutme img{
                height: 17.5rem;
                }
                .proyect2-aboutme img{
                height: 17.5rem;
                }
                .proyect1-aboutme div p{
                    width: 200px;
                    font-weight: 500;
                    font-size: 12px;
                    }
    .proyect2-aboutme div p{
                    width: 200px;
                    text-align: center;
                    font-size: 12px;
}
.info-text-aboutme{
    height:50vh;
    width: 100%;
    justify-content:center ;
}
.info-text-aboutme h3{
font-size: 20px;
}
.info-text-aboutme div h2{
font-size: 20px;
}
.info-text-aboutme div p{
    font-size: 14px;

    }
    .info-text-aboutme div{
        width:90%;
        }
        .personal-info div h4{
            font-size: 12px;
            }
        
        .personal-info div p{
            font-size: 12px;
            }
        }