/*primero llamamos a las variables y mixins*/
/*despues lllamamos al reset*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter&family=Work+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

/*layout*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.0625rem;
  margin-top: 1.875rem;
}
header div a img {
  width: 10.3125rem;
}
header nav ul {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 13.75rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
header nav ul li a:hover {
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 8px 12px 8px 12px;
  background-color: white;
}

.header-gradient-aboutme {
  background: linear-gradient(180deg, rgb(112, 17, 14) 0%, rgb(55, 9, 7) 46%, rgb(0, 0, 0) 100%);
  margin-top: 0;
  padding-top: 1.875rem;
}

.header-gradient-catalogue {
  background: linear-gradient(180deg, rgb(112, 17, 14) 0%, rgb(55, 9, 7) 46%, rgb(0, 0, 0) 100%);
  margin-top: 0;
  padding-top: 1.875rem;
}

.index-body-background {
  background-color: rgb(0, 0, 0);
  background-image: url(../assets/img/main.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.first-class {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: end;
  gap: 6.875rem;
  margin-right: 3.125rem;
  margin-top: 7.5rem;
}
.first-class div {
  width: 21.875rem;
  font-family: "Anonymous Pro", monospace;
  color: white;
  font-size: 1.5rem;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.first-class section {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.875rem;
}
.first-class section div {
  width: 12.5rem;
  font-family: "Anonymous Pro", monospace;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.first-class section div p {
  font-size: 1.3rem;
}
.first-class section img {
  height: 20.625rem;
  width: auto;
}

.section-gallery {
  margin-top: 40.625rem;
  margin-bottom: 12.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
}

.gallery-images1 {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;
}

.animacion-fotos {
  height: 80vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.animacion-fotos section {
  display: flex;
  height: 26.875rem;
  width: 37.5rem;
}
.animacion-fotos section img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.animacion-fotos section img:hover {
  cursor: crosshair;
  width: 18.75rem;
  opacity: 1;
  filter: contrast(120%);
}

.tecer-pagina-figma {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.3125rem;
}
.tecer-pagina-figma section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  gap: 2.5rem;
}
.tecer-pagina-figma section div {
  width: 22.5rem;
  height: 34.375rem;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.tecer-pagina-figma section div h3 {
  margin-top: 0.9375rem;
  font-size: 0.8125rem;
}
.tecer-pagina-figma section div h2 {
  font-size: 1.9375rem;
}
.tecer-pagina-figma section div p {
  font-size: 0.875rem;
  text-align: justify;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
}
.tecer-pagina-figma section .div-jordan {
  height: 36.25rem;
  width: 28.75rem;
  background-image: url(https://images.unsplash.com/photo-1520930528075-4ea5ead759f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tecer-pagina-figma div ul {
  list-style: none;
}
.tecer-pagina-figma div ul li img {
  height: 7.5rem;
  width: 10.625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.432);
}

.about-collection {
  height: 27.5rem;
  text-align: center;
  color: white;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.about-collection p {
  font-size: 0.8125rem;
  width: 70%;
}
.about-collection h2 {
  margin-bottom: 3.75rem;
}

footer {
  background-color: rgb(255, 255, 255);
  height: 34.375rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}
footer .primer-footer {
  padding-top: 4.375rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-beetwen;
  align-items: center;
  gap: 0rem;
}
footer .primer-footer .newsletter {
  width: 28.125rem;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .primer-footer .newsletter p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}
footer .primer-footer div nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
footer .info-final {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
footer .info-final div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}
footer .info-final div img {
  height: 3.375rem;
}

.footer-catalogue {
  background-color: white;
  padding-bottom: 4.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 34.375rem;
  grid-template-areas: "item1" "item2";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.cards-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, 3fr);
  grid-template-areas: "carditem1" "carditem2" "carditem3";
}

.carditem1 {
  grid-area: carditem1;
}

.carditem2 {
  grid-area: carditem2;
}

.carditem3 {
  grid-area: carditem3;
}

.sections-books {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
}

.fonts-books {
  font-family: "Work Sans", sans-serif;
  font-size: 5.625rem;
  color: rgb(255, 255, 255);
}

.line {
  width: 85.3127rem;
  height: 0.1875rem;
  background: #530d0a;
  margin-bottom: 5.3125rem;
}

.display-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3.125rem;
  justify-content: center;
  margin-top: 2.1875rem;
}

.display-images-last {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3.125rem;
  justify-content: center;
  margin-top: 2.1875rem;
  margin-bottom: 7.5rem;
}

.line-bottom {
  width: 85.3127rem;
  height: 0.1875rem;
  background: #530d0a;
  margin-top: 5.3125rem;
}

.main-catalogue {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(1, 100vh);
  grid-template-areas: "item1 item2 item3";
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.cards-catalogue {
  height: 43.75rem;
  width: 20.625rem;
  color: white;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.cards-catalogue .portrait-image {
  height: 21.875rem;
  width: 21.875rem;
  background-image: url(https://images.unsplash.com/photo-1564109799258-6b7c25cd1c92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80);
  background-size: cover;
  background-position: center;
}
.cards-catalogue .texture-image {
  height: 21.875rem;
  width: 21.875rem;
  background-image: url(https://images.unsplash.com/photo-1583407723467-9b2d22504831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
  background-size: cover;
  background-position: center;
}
.cards-catalogue .nature-image {
  height: 21.875rem;
  width: 21.875rem;
  background-image: url(https://images.unsplash.com/photo-1606573324666-b74801da38b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  background-position: center;
}

.titular-aboutme {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.titular-aboutme div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.titular-aboutme div h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  color: white;
}
.titular-aboutme div img {
  width: auto;
  border-radius: 1.875rem;
  height: 18.75rem;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18.75rem;
  margin-bottom: 3.125rem;
}

.cards-aboutme {
  height: 15.625rem;
  background-color: white;
  border-radius: 1.25rem;
  font-family: "Work Sans", sans-serif;
  color: black;
  text-align: center;
  padding: 0.625rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
}
.cards-aboutme img {
  height: 1.875rem;
  width: auto;
}
.cards-aboutme h2 {
  font-size: 1.25rem;
}
.cards-aboutme p {
  font-size: 0.875rem;
}

.titular-enorme-aboutme {
  height: 100vh;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 10.625rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
}

.info-text-aboutme {
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
}
.info-text-aboutme div h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
}

.know-me {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
}
.know-me h3 {
  font-size: 2.5rem;
}

.personal-info {
  padding-top: 3.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 18.75rem;
}
.personal-info div h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: grey;
  font-size: 0.8125rem;
}
.personal-info div p {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(3, 0, 0);
  font-size: 0.8125rem;
}

.pharagraph-aboutme {
  height: 6.25rem;
  width: 31.25rem;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.proyect1-aboutme {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.proyect1-aboutme div p {
  width: 34.375rem;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}
.proyect1-aboutme img {
  height: 28.125rem;
  width: auto;
}
.proyect1-aboutme div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 4.375rem;
}

.proyect2-aboutme {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.proyect2-aboutme div p {
  width: 34.375rem;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: end;
}
.proyect2-aboutme div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6.25rem;
}
.proyect2-aboutme img {
  height: 28.125rem;
  width: auto;
}

.midway {
  font-size: 3.4375rem;
  width: 100%;
}

/*components*/
/*-------------------------*/
/*-------BUTTONS FOOTER: subscribe-------*/
/*-------------------------*/
.custom-button {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.custom-button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.button {
  padding: 12px 25px 12px 25px;
  border: none;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.button:hover {
  animation: scale-up-bottom 0.9s;
}
.button a {
  text-decoration: none;
  color: white;
}

.scale-up-bottom {
  animation: scale-up-bottom 0.9s;
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: center bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: center bottom;
  }
}
.button-white {
  padding: 0.75rem 1.5625rem 0.75rem 1.5625rem;
  border: none;
  border-radius: 1.5625rem;
  background-color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.button-white:hover {
  animation: scale-up-bottom 0.9s;
}
.button-white a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.scale-up-bottom {
  animation: scale-up-bottom 0.9s;
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: center bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: center bottom;
  }
}
/*mediaquery*/
@media (min-width: 1330px) and (max-width: 1600px) {
  .line {
    display: none;
  }
}
@media screen and (max-width: 1335px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------index----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .section-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15.625rem;
    margin-bottom: 12.5rem;
    gap: 4.375rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .line {
    width: 80%;
    height: 0.1875rem;
    background: #530d0a;
    margin-bottom: 5.3125rem;
  }
  .line.bottom {
    width: 50%;
    height: 0.1875rem;
    background: #530d0a;
    margin-top: 5.3125rem;
  }
  .fonts-books {
    font-family: "Work Sans", sans-serif;
    font-size: 3.625rem;
  }
  .personal-info {
    gap: 6.25rem;
  }
  .titular-enorme-aboutme {
    font-size: 7rem;
    padding-top: 2.75rem;
  }
  .info-text-aboutme {
    height: 80vh;
  }
}
@media screen and (max-width: 1239px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .portrait-image {
    height: 15.625rem;
    width: 15.625rem;
    background-image: url(https://images.unsplash.com/photo-1564109799258-6b7c25cd1c92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80);
    background-size: cover;
    background-position: center;
  }
  .texture-image {
    height: 15.625rem;
    width: 15.625rem;
    background-image: url(https://images.unsplash.com/photo-1583407723467-9b2d22504831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
    background-size: cover;
    background-position: center;
  }
  .nature-image {
    height: 15.625rem;
    width: 15.625rem;
    background-image: url(https://images.unsplash.com/photo-1606573324666-b74801da38b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;
  }
  .cards-catalogue {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .display-images-last {
    margin-bottom: 2.5rem;
  }
  .display-images img {
    height: 150px;
    width: auto;
  }
  .display-images-last img {
    height: 150px;
    width: auto;
  }
  .display-images {
    gap: 30px;
  }
  .display-images-last {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .titular-aboutme {
    gap: 200px;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.375rem;
    margin-bottom: 3.125rem;
  }
  .titular-enorme-aboutme {
    font-size: 4.625rem;
    height: 60vh;
  }
  .personal-info {
    gap: 3.75rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .portrait-image {
    height: 15.625rem;
    width: 15.625rem;
  }
  .texture-image {
    height: 15.625rem;
    width: 15.625rem;
  }
  .nature-image {
    height: 15.625rem;
    width: 15.625rem;
  }
  .main-catalogue {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "item1" "item2" "item3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    gap: 2rem;
    padding: 2rem;
  }
  .cards-catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20.625rem;
    color: white;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    gap: 1.875rem;
    max-width: 100%;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------INDEX----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .tecer-pagina-figma {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100vh;
    padding-top: 40px;
  }
  .tecer-pagina-figma section {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .tecer-pagina-figma section {
    margin-top: 0;
  }
  .tecer-pagina-figma section div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15.5rem;
    height: 16.375rem;
    font-family: "Work Sans", sans-serif;
    gap: 15px;
  }
  .tecer-pagina-figma section div button {
    display: none;
  }
  .tercer-pagina-figma section div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .tecer-pagina-figma div ul li img {
    height: 5.5rem;
    width: 7.625rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.432);
  }
  .section-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15.625rem;
    margin-bottom: 12.5rem;
    gap: 4.375rem;
  }
  .gallery-images1 {
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
  }
  .tecer-pagina-figma section .div-jordan {
    height: 20.25rem;
    width: 15rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .line {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .titular-aboutme img {
    height: 200px;
    width: auto;
  }
  .header-gradient-aboutme nav {
    height: 200px;
    padding: 0px;
    width: 100%;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.375rem;
    margin-bottom: 3.125rem;
  }
  .info-text-aboutme {
    height: 90vh;
  }
  .titular-enorme-aboutme {
    font-size: 3.625rem;
    height: 50vh;
  }
  .personal-info {
    gap: 3.75rem;
  }
  .proyect1-aboutme {
    gap: 3.125rem;
  }
  .proyect2-aboutme {
    height: 100vh;
    display: flex;
    gap: 10px;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .proyect2-aboutme div p {
    text-align: center;
  }
  .proyect1-aboutme img {
    height: 37.5rem;
  }
  .proyect2-aboutme img {
    height: 37.5rem;
  }
  .proyect2-aboutme div {
    text-align: center;
    justify-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  .proyect1-aboutme div {
    text-align: center;
    justify-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  .titular-aboutme {
    gap: 100px;
  }
  footer {
    background-color: rgb(214, 214, 214);
    height: 550px;
    gap: 3.125rem;
  }
  .primer-footer {
    gap: 20px;
    flex-direction: column;
  }
  .social-media li a img {
    height: 17px;
  }
  .newsletter {
    width: 18.75rem;
    gap: 1.25rem;
  }
  .newsletter p {
    font-size: 10px;
  }
  .info-final div {
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .info-final div img {
    height: 30px;
    width: auto;
  }
  .info-final div h4 {
    font-size: 8px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .primer-footer-catalogue {
    gap: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4.375rem;
  }
  .footer-catalogue {
    background-color: white;
    padding-bottom: 4.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    justify-content: center;
  }
  .footer-contact {
    height: 600px;
  }
  footer .primer-footer {
    gap: 2rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------INDEX----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .index-body-background {
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/img/media-4.jpg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-landing div {
    width: 12.5rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    gap: 1rem;
  }
  .section-landing img {
    height: 14.375rem;
    width: auto;
  }
  .images-column li img {
    height: 5.5rem;
    width: 6rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.432);
  }
  .tercer-pagina-figma section div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tecer-pagina-figma {
    gap: 20px;
  }
  .div-jordan {
    height: 32rem;
    width: 23rem;
  }
}
.button {
  font-size: 0.875rem;
}

@media screen and (max-width: 550px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .titular-aboutme img {
    height: 200px;
    width: auto;
  }
  .titular-enorme-aboutme {
    font-size: 2.625rem;
    height: 60vh;
  }
  .pharagraph-aboutme {
    height: 6.25rem;
    width: 350px;
    text-align: center;
  }
  .proyect1-aboutme div {
    width: 100%;
  }
  .proyect2-aboutme div {
    width: 100%;
  }
  .proyect1-aboutme div button {
    width: 50%;
  }
  .proyect2-aboutme div button {
    width: 50%;
  }
  .proyect1-aboutme div p {
    width: 350px;
    font-weight: 500;
  }
  .proyect2-aboutme div p {
    width: 350px;
    text-align: center;
  }
  footer {
    background-color: rgb(214, 214, 214);
    height: 550px;
    gap: 3.125rem;
  }
  .primer-footer {
    gap: 20px;
    flex-direction: column;
  }
  .social-media li a img {
    height: 17px;
  }
  .newsletter {
    width: 18.75rem;
    gap: 1.25rem;
  }
  .newsletter p {
    font-size: 10px;
  }
  .info-final div {
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .info-final div img {
    height: 30px;
    width: auto;
  }
  .info-final div h4 {
    font-size: 8px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .primer-footer-catalogue {
    gap: 40px;
    flex-direction: column;
  }
  .footer-contact {
    height: 600px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------index----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .index-body-background {
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/img/media-4.jpg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .welcome {
    width: 21.875rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .section-landing div {
    width: 12.5rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    gap: 1rem;
  }
  .section-landing img {
    height: 14.375rem;
    width: auto;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .display-images-last {
    margin-bottom: 1.5rem;
  }
  .fonts-books {
    font-size: 2.625rem;
  }
  .display-images img {
    height: 150px;
    width: auto;
  }
  .display-images-last img {
    height: 150px;
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .titular-aboutme img {
    height: 200px;
    width: auto;
  }
  .titular-enorme-aboutme {
    font-size: 2.625rem;
    height: 60vh;
  }
  .pharagraph-aboutme {
    height: 6.25rem;
    width: 350px;
    text-align: center;
  }
  .proyect1-aboutme div {
    width: 100%;
  }
  .proyect2-aboutme div {
    width: 100%;
  }
  .proyect1-aboutme div button {
    width: 50%;
  }
  .proyect2-aboutme div button {
    width: 50%;
  }
  .proyect1-aboutme div p {
    width: 350px;
    font-weight: 500;
  }
  .proyect2-aboutme div p {
    width: 350px;
    text-align: center;
  }
  footer {
    background-color: rgb(214, 214, 214);
    height: 550px;
    gap: 3.125rem;
  }
  .primer-footer {
    gap: 20px;
    flex-direction: column;
  }
  .social-media li a img {
    height: 17px;
  }
  .newsletter {
    width: 18.75rem;
    gap: 1.25rem;
  }
  .newsletter p {
    font-size: 10px;
  }
  .info-final div {
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .info-final div img {
    height: 30px;
    width: auto;
  }
  .info-final div h4 {
    font-size: 8px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .primer-footer-catalogue {
    gap: 40px;
    flex-direction: column;
  }
  .footer-contact {
    height: 600px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------index----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .index-body-background {
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/img/media-4.jpg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .welcome {
    width: 21.875rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .section-landing div {
    width: 12.5rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    gap: 1rem;
  }
  .section-landing img {
    height: 14.375rem;
    width: auto;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .display-images-last {
    margin-bottom: 1.5rem;
  }
  .fonts-books {
    font-size: 2.625rem;
  }
  .display-images img {
    height: 150px;
    width: auto;
  }
  .display-images-last img {
    height: 150px;
    width: auto;
  }
}
@media screen and (max-width: 455px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  header {
    flex-direction: column;
    align-items: center;
  }
  header div img {
    width: 8rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .titular-aboutme div h1 {
    font-size: 2.125rem;
  }
  .titular-enorme-aboutme {
    font-size: 2.625rem;
    height: 60vh;
  }
  .personal-info {
    gap: 0.75rem;
  }
  .pharagraph-aboutme {
    height: 6.25rem;
    width: 350px;
    text-align: center;
  }
  .proyect1-aboutme div p {
    width: 350px;
    font-weight: 500;
  }
  .proyect2-aboutme div p {
    width: 350px;
    text-align: center;
  }
  .titular-aboutme {
    padding-top: 5.375rem;
  }
  .proyect1-aboutme {
    gap: 2.125rem;
  }
  .proyect2-aboutme {
    gap: 2.125rem;
  }
  .proyect1-aboutme img {
    height: 27.5rem;
  }
  .proyect2-aboutme img {
    height: 27.5rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .primer-footer-catalogue {
    gap: 40px;
    flex-direction: column;
  }
  footer {
    height: 550px;
    width: 414px;
  }
  .primer-footer {
    width: 100%;
  }
  .primer-footer .newsletter {
    width: 100%;
  }
  .footer-contact {
    height: 650px;
  }
  .main-catalogue {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "item1" "item2" "item3";
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: auto;
    gap: 2rem;
    padding: 0rem;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .fonts-books {
    font-size: 2.625rem;
  }
  .display-images img {
    height: 150px;
    width: auto;
  }
  .display-images-last img {
    height: 150px;
    width: auto;
  }
  .display-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    width: 100%;
  }
  .display-images.last {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .sections-books {
    width: 100%;
  }
  .cards-grid {
    justify-content: center;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------index----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .index-body-background {
    background-color: rgb(0, 0, 0);
    background-image: url(../assets/img/media-4.jpg);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .welcome {
    width: 21.875rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .first-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.875rem;
    align-items: center;
    margin-right: 0;
    margin-top: 7.5rem;
  }
  .first-class section div p {
    font-size: 1rem;
  }
  .first-class section img {
    height: 300px;
    width: auto;
  }
  .section-landing {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.875rem;
  }
  .section-landing div {
    width: 12.5rem;
    font-family: "Anonymous Pro", monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    gap: 1rem;
  }
  .section-landing img {
    height: 14.375rem;
    width: auto;
  }
  .gallery-images1 img {
    height: 250px;
    width: auto;
  }
  .section-gallery div img {
    height: auto;
    width: 250px;
  }
  .images-column li img {
    height: 3.5rem;
    width: 4rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.432);
  }
  .tecer-pagina-figma {
    gap: 20px;
  }
  .tecer-pagina-figma div ul li img {
    display: none;
  }
  .div-jordan {
    height: 30rem;
    width: 21rem;
  }
  .about-collection p {
    font-size: 12px;
  }
  .display-images-last {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 390px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------index----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .first-class div {
    width: 70%;
    text-align: center;
    font-size: 1.1rem;
  }
  .first-class section img {
    height: 200px;
  }
  .animacion-fotos {
    height: 80vh;
    width: 100%;
    padding: 0px 30px 0px 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .animacion-fotos section {
    display: flex;
    height: 26.875rem;
    width: 37.5rem;
  }
  .animacion-fotos section img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  .animacion-fotos section img:hover {
    cursor: crosshair;
    width: 18.75rem;
    opacity: 1;
    filter: contrast(120%);
  }
  .tecer-pagina-figma section {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .tecer-pagina-figma section div {
    align-items: center;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .titular-aboutme img {
    height: 200px;
    width: auto;
  }
  footer {
    background-color: rgb(214, 214, 214);
    height: 550px;
    gap: 3.125rem;
    width: 24.375rem;
  }
  .primer-footer {
    gap: 20px;
    width: 100%;
  }
  .social-media li a img {
    height: 17px;
  }
  .newsletter {
    width: 100%;
    gap: 1.25rem;
  }
  .newsletter p {
    font-size: 10px;
  }
  .info-final div {
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .info-final div img {
    height: 30px;
    width: auto;
  }
  .info-final div h4 {
    font-size: 8px;
  }
  .titular-enorme-aboutme {
    font-size: 2.625rem;
    height: 50vh;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .primer-footer-catalogue {
    gap: 40px;
    flex-direction: column;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------books----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .sections-books {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .titular-aboutme img {
    height: 200px;
    width: auto;
  }
  .titular-enorme-aboutme {
    font-size: 1.625rem;
    height: 40vh;
  }
  .pharagraph-aboutme {
    height: 6.25rem;
    width: 100%;
    text-align: center;
  }
  .proyect1-aboutme img {
    height: 17.5rem;
  }
  .proyect2-aboutme img {
    height: 17.5rem;
  }
  .proyect1-aboutme div p {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
  }
  .proyect2-aboutme div p {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .info-text-aboutme {
    height: 50vh;
    width: 100%;
    justify-content: center;
  }
  .info-text-aboutme h3 {
    font-size: 20px;
  }
  .info-text-aboutme div h2 {
    font-size: 20px;
  }
  .info-text-aboutme div p {
    font-size: 14px;
  }
  .info-text-aboutme div {
    width: 90%;
  }
  .personal-info div h4 {
    font-size: 12px;
  }
  .personal-info div p {
    font-size: 12px;
  }
  footer {
    background-color: rgb(214, 214, 214);
    gap: 3.125rem;
    height: 600px;
    width: 100%;
  }
  .primer-footer {
    gap: 20px;
  }
  .social-media li a img {
    height: 17px;
  }
  .newsletter {
    width: 18.75rem;
    gap: 1.25rem;
  }
  .newsletter p {
    font-size: 10px;
  }
  .info-final div {
    gap: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .info-final div img {
    height: 30px;
    width: auto;
  }
  .info-final div h4 {
    font-size: 8px;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .cards-catalogue {
    font-size: 10px;
    width: 100%;
  }
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------------BOOKS----------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 20rem);
    grid-template-rows: auto 34.375rem;
    grid-template-areas: "item1" "item2";
  }
  .sections-books {
    height: auto;
  }
  .display-images {
    flex-direction: column;
  }
  .display-images-last {
    flex-direction: column;
  }
  .sections-books {
    width: 100%;
  }
  .cards-catalogue .portrait-image {
    height: 18.75rem;
    width: 18.75rem;
  }
  .cards-catalogue .texture-image {
    height: 18.75rem;
    width: 18.75rem;
  }
  .cards-catalogue .nature-image {
    height: 18.75rem;
    width: 18.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
