footer{
    background-color: $background-color-white;
    height:34.375rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12.5rem;
    @include flex (column, wrap, space-around, center, 5rem);
    .first-footer{
        padding-top: 4.375rem;
        @include flex (row, wrap, space-beetwen, center, 0rem);
        .newsletter{
            width: 28.125rem;
            font-family: $font-familiy;
            @include flex (column, wrap, center, center, 2rem);
            p{
                font-family: 'Inter', sans-serif;
                font-size: .75rem;
                text-align: center;
            }
            
        }
        div{
            nav{
                ul{
                    list-style: none;
                    @include flex (row, wrap, center, center, 3.125rem);
                }
            }
        }
    }
    .info-final{
        @include flex (row, wrap, space-around, center, 3rem);
        div{
            @include flex (column, wrap, center, center, 1.25rem);
            margin-bottom: 3.75rem ;
            img{
                height: 3.375rem;
            }
        }
    }
}
.footer-catalogue{
    background-color: $background-color-white;
    padding-bottom: 4.25rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}