@media screen and (max-width: 1200px) {
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .display-images-last{
        margin-bottom: 2.5rem;
    }
    .display-images {
        img{
        height: 150px;
        width: auto;
        }
    }
    .display-images-last {
        img{
            height: 150px;
            width: auto;
            }
        }
    .display-images{
    gap: 30px;
                }
    .display-images-last{
        gap: 30px;
                    }
    .proyect2-aboutme {
        div{
        padding-bottom: 1.875rem;
        background-color: white;
        gap: 2rem;
        width: 600px;
                        }
    }
}

