@media screen and (max-width: 550px) {
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .titular-aboutme img{
        height: 200px;
        width: auto;
    }
    .titular-enorme-aboutme{
        font-size: 2.625rem;
        height:60vh;
    }
    .pharagraph-aboutme{
        height: 6.25rem;
        width: 350px;
        text-align: center;
    }
    .proyect1-aboutme {
        div{
            button{
                width: 50%;
            }
        }
    }
    .proyect2-aboutme {
        div {
            width: 100%;
            button{
                width: 50%;
            }
        }
    }
    .proyect1-aboutme {
        div {
            width: 100%;
            p{
        width: 350px;
        font-weight: 500;
    }
}
    }
    .proyect2-aboutme {
        div {
            p{
        width: 350px;
        text-align: center;}
    }
}

    
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .cards-catalogue .portrait-image{
        height: 15rem;
        width: 15rem;
    }
    .cards-catalogue .nature-image{
        height: 15rem;
        width: 15rem;
    }
    .cards-catalogue .texture-image{
        height: 15rem;
        width: 15rem;
    }

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------index----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    

    .welcome {
        width: 21.875rem;
        font-family: 'Anonymous Pro', monospace;
        color:white; 
        font-size: 16px;
        text-align: center;
        display:flex; 
        justify-content: center;
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .display-images-last{
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .fonts-books{
        font-size: 2.625rem;
    }
    .display-images {
        img{
    height: 150px;
    width: auto;
    }
}
    .display-images-last {
        img{
        height: 150px;
        width: auto;
        }
    }
    }