@media screen and (max-width: 1024px) {
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:1.25rem;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .titular-aboutme{
    gap: 200px;
    }
    .container-cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6.375rem;
        margin-bottom: 3.125rem;
    }  
    .titular-enorme-aboutme{
        font-size: 4.625rem;
        height:60vh;
    }
    .personal-info {
        gap: 3.75rem;
    }
    
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .cards-catalogue .nature-image{
        height: 25rem;
        width: 25rem;
    }
    .cards-catalogue .texture-image{
        height: 25rem;
        width: 25rem;
    }
    .cards-catalogue .portrait-image{
        height: 25rem;
        width: 25rem;
    }
    .main-catalogue {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto); 
        grid-template-areas:
    "item1"
    "item2"
    "item3";
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: auto; 
        gap: 2rem;
        padding: 2rem;
    }
    .cards-catalogue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 20.625rem; 
        color: white;
        font-family: $font-familiy;
        text-align: center;
        gap: 1.875rem;
        max-width: 100%;
    }
    .proyect2-aboutme div{
        padding-bottom: 1.875rem;
        background-color: white;
        gap: 2rem;
        }
        .proyect1-aboutme div{
            padding-bottom: 1.875rem;
            background-color: white;
            gap: 2rem;
            }
    
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------INDEX----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .third-page{
        background-color: $background-color-white;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100vh;
        padding-top: 40px;
        section{
            margin-top: 0;
            height: 100vh;
            @include flex (column-reverse, wrap, center, center, 1.5rem);
    
            div{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 15.5rem;
                height: 16.375rem;
                font-family: $font-familiy;
                gap:15px;
                ul{
                    list-style: none;
                    width: 100%;
                    gap:10px;
                    li{
                        img{
                            height: 5.5rem;
                            width: 7.625rem;
                            border: .0625rem solid rgba(0, 0, 0, 0.432);
                    
                        }
                    }
                }
                button{
                    display: none;
                }
            }
        }
    }
    

    .section-gallery{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        margin-top: 15.625rem;
        margin-bottom: 12.5rem;
        gap: 4.375rem;
    }
    
    .gallery-images1{
        display: flex;
        flex-direction: column;
        gap: 4.375rem;
    }
    .third-page {
        section {
            .div-jordan{
                height: 20.25rem;
                width:15rem ;
            }
        }
    }
    
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .line{
        display:none;
    }
    .footer-catalogue{
        height: 40rem;
    }
    }