@media screen and (max-width: 1335px){
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------index----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.section-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 15.625rem;
    margin-bottom: 12.5rem;
    gap: 4.375rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------books----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.line{
    width: 80%;
    height: .1875rem;
    background: #530d0a;
    margin-bottom: 5.3125rem;
}
.line.bottom{
    width: 50%;
    height: .1875rem;
    background: #530d0a;
    margin-top: 5.3125rem;
}
.fonts-books{
    font-family: 'Work Sans' , sans-serif ;
    font-size: 3.625rem;
}

.personal-info{
gap:6.25rem;
}
.titular-enorme-aboutme{
    font-size: 7rem;
    padding-top: 2.75rem;
}
.info-text-aboutme{
    height: 80vh;
}
}