@media screen and (max-width: 455px) {
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    header {
        div {
            img {
                width: 8rem;
            }
        }
    }
    
            .navbar {
            flex-direction: column;
            align-items: center;
        gap: 1rem;
    }
    .titular-aboutme {
        div {
            h1{
            font-size: 2.125rem;;
            }
        }
    }
    .personal-info {
        gap: .75rem;
    }
    .pharagraph-aboutme{
        height: 6.25rem;
        width: 350px;
        text-align: center;
    }
    .proyect1-aboutme {
        div {
            p{
                width: 350px;
                font-weight: 500;
            }
        }
    }
    .proyect2-aboutme {
        div {
            p{
                width: 350px;
                text-align: center;
            }
        }
    }
    .titular-aboutme{
        padding-top: 5.375rem;}
    .proyect1-aboutme{
        gap:2.125rem;
    }   
    .proyect2-aboutme{
        gap:2.125rem;
        } 
    .proyect1-aboutme {
        img{
        height: 27.5rem;
        }
    }
        .proyect2-aboutme {
            img{
        height: 27.5rem;
        }
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    footer{
        width: 100%;
    }
    .first-footer{
        width: 100%;
    }
    .first-footer .newsletter{
        width: 100%;
    }
    .footer-contact{
        height: 650px;
    }
    .main-catalogue {
        width:100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto); 
        grid-template-areas:
    "item1"
    "item2"
    "item3";
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: auto; 
        gap: 2rem;
        padding: 0rem;
    }
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    
        .display-images{
            @include flex(row, wrap, center, center, .3125rem);
            width: 100%;
        }
        .display-images-last{
            @include flex(row, wrap, center, center, .3125rem);
        }
        .sections-books{
            width: 100%;
        }
        .cards-grid{
            justify-content: center;
        }
        .grid-container {
            height: auto;
            width: 100%;
            @include grid (repeat(1,100%), auto 34.375rem,
        "item1"
        "item2")
        }


    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------index----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    .first-class{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 6.875rem;
        align-items: center;
        margin-right: 0;
        margin-top: 7.5rem;
    }
    .first-class {
        section{
            div{
                p{
                    font-size: 1rem;
                }
            }
            img{
                height: 300px;
                width: auto;
            }
        }
    }
    .section-landing{
        display: flex;
        flex-direction: row-reverse;
        gap: 1.875rem;
    }
    
    .gallery-images1 {
        img{
    height: 250px;
    width: auto;
    }
}
    
        .section-gallery {
            div {
                img{
            height: auto;
            width: 250px;
        }
    }
}
        .images-column {
            li {
                img{
            height: 3.5rem;
            width: 4rem;
            border: .0625rem solid rgba(0, 0, 0, 0.432);
        }
    }
}
    .third-page {
        gap: 1.25rem;
        div {
            ul {
                li {
                    img{
                        display: none;
                    }
                }
            }
        }
    }
        .div-jordan{
            height: 30rem;
            width: 21rem;
        }    
        .about-collection {
            p{
            font-size: 12px;
        }
    }
        .display-images-last{
            margin-bottom: 1.5rem;
            gap: .625rem;
        }
    }
    