@media screen and (max-width: 1200px) {
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .display-images-last{
        margin-bottom: 2.5rem;
    }
    .display-images img{
        height: 150px;
        width: auto;
        }
    .display-images-last img{
            height: 150px;
            width: auto;
            }
    .display-images{
    gap: 30px;
                }
    .display-images-last{
        gap: 30px;
                    }


                    .cards-catalogue .nature-image{
                        height: 18rem;
                        width: 18rem;
                    }
                    .cards-catalogue .texture-image{
                        height: 18rem;
                        width: 18rem;
                    }
                    .cards-catalogue .portrait-image{
                        height: 18rem;
                        width: 18rem;
                    }
    }

