@media screen and (max-width: 390px){

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------index----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .first-class{
        div{
            width: 70%;
            text-align: center;
            font-size: 1.1rem;
        }
        section{
            img{
                height: 200px;
            }
            
        } 
    }

    .third-page {
        section{
        display:flex;
        flex-direction: column-reverse;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        div{
            align-items: center;
        }
    }
}





    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .titular-aboutme {
        img{
        height: 200px;
        width: auto;
    }
}
    footer{
        background-color: rgb(214, 214, 214);
        height:550px;
        gap: 3.125rem ;
        width: 100%;
    }
    .first-footer{
        gap:20px;
        width: 100%;
    }
    .social-media{
        li{
            a{
                img{
                    height: 17px;
                }
            }
        }
    }
    .newsletter{
        width: 100%;
        gap:1.25rem;
        p{
            font-size: 10px;
        }
    }

    .info-final div{
        gap: 1.25rem;
        margin-bottom: .625rem ;
        img{
            height: 30px;
            width: auto;
        }
    }

    .info-final{
        div {
            h4{
            font-size: 8px;
        }
    }
    } 
    .titular-enorme-aboutme{
        font-size: 2.625rem;
        height:50vh;
    }
    .midway{
        font-size: 40px;
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    .primer-footer-catalogue{
        gap:40px;
        flex-direction:column ;}
        .cards-catalogue .portrait-image{
            height: 15rem;
            width: 15rem;
        }
        .cards-catalogue .nature-image{
            height: 15rem;
            width: 15rem;
        }
        .cards-catalogue .texture-image{
            height: 15rem;
            width: 15rem;
        }
        .cards-catalogue .portrait-image{
            height: 15rem;
            width: 15rem;
        }

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------books----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    

        .sections-books{
            width: 100%;
        }
}