@media screen and (max-width: 1239px){

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:1.25rem;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .portrait-image {
        height: 15.625rem;
        width: 15.625rem;
        background-image: url(https://images.unsplash.com/photo-1564109799258-6b7c25cd1c92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80);
        background-size: cover;
        background-position: center;
    }
    .texture-image {
        height: 15.625rem;
        width: 15.625rem;
        background-image: url(https://images.unsplash.com/photo-1583407723467-9b2d22504831?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
        background-size: cover;
        background-position: center;
    }
    .nature-image {
        height: 15.625rem;
        width: 15.625rem;
        background-image: url(https://images.unsplash.com/photo-1606573324666-b74801da38b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
        background-size: cover;
        background-position: center;
    }
    .cards-catalogue{
        font-size: 14px;
    }
    }