@media screen and (max-width: 390px){

    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------index----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .first-class{
        div{
            width: 70%;
            text-align: center;
            font-size: 1.1rem;
        }
        section{
            img{
                height: 200px;
            }
            
        } 
    }
    .animacion-fotos{
        height: 80vh;
        width: 100%;
        padding: 0px 30px 0px 30px;
        background-color: white;
        @include flex (row, wrap, center, center, 0);
        section{
            display: flex;
            height: 26.875rem;
            width: 37.5rem;
            img{
                width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .5s ease;
                &:hover{
                    cursor: crosshair;
                    width: 18.75rem;
                    opacity: 1;
                    filter: contrast(120%);}
                }
        }
    }
    .tecer-pagina-figma section{
        display:flex;
        flex-direction: column-reverse;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        div{
            align-items: center;
        }
    }





    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------ABOUT ME----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .titular-aboutme img{
        height: 200px;
        width: auto;
    }
    footer{
        background-color: rgb(214, 214, 214);
        height:500px;
        gap: 3.125rem ;
    }
    .primer-footer{
        gap:20px;
        width: 100%;
    }
    .social-media li a img{
        height: 17px;
    }
    .newsletter{
        width: 100%;
        gap:1.25rem;
    }
    .newsletter p{
        font-size: 10px;
    }
    .info-final div{
        gap: 1.25rem;
        margin-bottom: .625rem ;
    }
    .info-final div img{
        height: 30px;
        width: auto;
    }
    .info-final div h4{
        font-size: 8px;
    }
    .titular-enorme-aboutme{
        font-size: 2.625rem;
        height:50vh;
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------CATALOGUE----------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    .primer-footer-catalogue{
        gap:40px;
        flex-direction:column ;}
}